
body{
    font-family: 'Ysabeau', sans-serif;
}
.footer{
    text-align: center;
}
h1{
    font-size: 40px;
}
p{
    color: gray;
    text-align: justify;
    font-size: 20px;
}
.orange{
    color: orange;
}
.header-part{
   display: inline-flex;
   
   background-image: url(../images/header-bg.png);
   background-repeat: no-repeat;
   width: 100%;
   background-size: cover;
}
.header-one{
    width: 40%;
    margin-left:8%;
    padding-left: 100px;
    padding-top: 50px;
}
.header-two{
    width: 40%;
    
    padding-top: 50px;
}
.header-two img{
    width: 100%;
}
.hire-button{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    background-image: linear-gradient(red, purple);
    color: white;
    border-radius: 10px;
}

.experince-one{
    width: 40%;
    border: 1px solid black;
    box-shadow: 10px 10px 40px gray ;
    padding: 10px;
    margin-left: 5%;
}
.experince{
    display: inline-flex;
    background-image: url(../images/01.png);
    background-repeat: no-repeat;
    background-position: left;
}
.hexa{
    border-left: 7px solid black;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 1;
}
.deshi{
    border-left: 7px solid black;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}
.yoga{
    font-size: 50px;
    width: 900;
}
.header-part-none{
    display: inline-flex;
   
   background-image: url(../images/header-bg.png);
   
}
.more{
    background-image: url(../images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ninjs{
    padding-top: 250px;
}
.from img{
    width: 70%;
}
.claints{
    text-align: center !important;
    background: url(../images/footer-bg.png);
}
.claints p{
    text-align: center !important;
}
.hola{
    border: 1px solid black;
    height: 200px;
    width: 700px;
    margin-left: 300px;
    background: #EC4F91;
}
.heroifd{
    background-image: url(../images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.heroifd h1{
    text-align: center;
}